.WatchList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}

.WatchList__parts {
  padding: 0px 20px;
  min-width: 465px;
  flex-basis: calc(100% / 2 - 250px);
  height: 100px;
  border: 1px solid;
  border-radius: 20px;
  background-color: #bcd7dc;
}

.WatchList__title {
  border-bottom: 1px solid;
  margin-bottom: 5px;
}

.WatchList__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.WatchList__item {
  width: 90px;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  border: 1px solid #2f748a;
  border-radius: 5px;
  background-color: #9dc1cc;
}

.WatchList__item:hover {
  background-color: #7d9faa;
}

.WatchList__item-btn {
  cursor: pointer;
}
